/* Break point */

/* Mobile */
@media (max-width: 740px) {
    #header {
        overflow: hidden;
    }

    #header .search-btn {
        display: none;
    }

    #header .menu-mobile-btn {
        display: block;
    }

    #nav {
        display: block;
    }

    #nav>li {
        display: block;
    }

    #nav>li:first-child {
        display: inline-block;
    }

    #nav .subnav {
        position: initial;
        background-color: #333;
    }

    #nav li a {
        padding: 1px 24px;
    }

    #nav .subnav a {
        color: white;
        padding: 5px 41px;
        /* Mobile nút bấm từ 42 đến 46px */
    }
}

/* Tablet */
@media (min-width: 740px) and (max-width: 1023px) {}

/* Desktop */
@media (min-width: 1024px) {}